<!DOCTYPE html >

<html>
    <head>
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="bundle.js"> </script>
        <link rel="stylesheet"  href="node_modules/bootstrap/dist/css/bootstrap.min.css" >
        <link rel="stylesheet"  href="src/style.css" />
    </head>

    <body class="container-fluid" ng-app="app" ng-controller='appController as vm'  class="ng-cloak">
        <div classe="container">
            <div class="header" style="min-height:50px;">
                {{vm.title}}
            </div>
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-6" >
                    <h2>Accounts</h2>

                    <div style="height:400px; overflow-y:scroll;">
                        <table class="table">
                            <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Accounts</td>
                                        <td>Select</td>
                                        <td>Verify</td>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="acc in vm.accounts">
                                    <td>{{$index}}</td>
                                    <td>{{acc}}</td>
                                    <td><input type="checkbox" ng-click="vm.selectAddr($index, acc)" ng-checked="$index==vm.activeIndex"> </td>
                                    <td><button class="btn btn-primary"> Verify</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="$index == vm.activeIndex2">
                             <dl class="dl-horizontal">
                                 <dt> Response</dt>
                                 <dd> {{vm.contractData.check}} </dd>
                            </dl>
                    </div>

                </div>
                <div class="col-md-6" class="main-context">
                    <h2>Contract Interaction</h2>
                    <div class="card">
                        <div class="card-block">
                            <h2 class="card-title" style="color:black;">Run Contract</h2>
                            <button class="btn btn-primary" ng-click='vm.addContract()'>Deploy</button>
                        </div>
                    </div> 
                    <div>
                        <dl class="dl-horizontal">
                            <dt> Contract information</dt>
                            <dd>
                            <div class="row">
                                    <div class="col-md-4">
                                        <p>{{vm.minedContract.desc}}</p>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{vm.minedContract.address}}</p>
                                    </div>
                            </div>
                            <div>
                                <button class="btn btn-warning" ng-click="vm.showContract()">Call OnChain Contract</button>
                            </div>
                            </dd>
                        </dl>
                    </div>   

                    <div>
                        <dl class="dl-horizontal" ng-repeat="ctr in vm.contracts">
                            <dt>Contract mined</dt>
                            <dd>
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>{{ctr.address}} </p>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-warning" >show</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-default" ng-click="vm.closeContract()"> Close</button> 
                                    </div>
                                </div>
                            </dd>
                            <div class="card" style="color:black;" ng-if="$index == vm.activeIndex">
                                <div class="card-block">
                                    <p>Address of contract: {{vm.contract.address}} </p>
                                    <span>Transaction Hash: {{vm.contract.transactionHash}} </span>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container-fluid">
            <h3>Registration of the accounts: {{vm.selectedAddr}}</h3>
            <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h2>Registration of a client</h2>
                        <form class="form-group">
                            <label for="fname">Name</label>
                            <input id="fname" class="form-control" type="text" ng-model="vm.client.fname">

                            <label for="sname">Surname</label>
                            <input id="sname" class="form-control" type="text" ng-model="vm.client.sname">

                            <label for="address">Address</label>
                            <input id="address" class="form-control" type="text" ng-model="vm.client.address.street">

                            <label for="region">Region</label>
                            <input id="region" class="form-control" type="number" ng-model="vm.client.address.region">
                        
                            <label for="city">City</label>
                            <input id="city" class="form-control" type="text" ng-model="vm.client.address.city">

                            <label for="country">Country</label>
                            <input id="country" class="form-control" type="text" ng-model="vm.client.address.country">
                            <button class="btn btn-danger" ng-click="vm.addClient()">Add Client</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h3>Registration of a validator</h3>
                        <form class="form-group">
                            <label for="valName">Name</label>
                            <input id="valName" class="form-control" type="text" ng-model="vm.validator.name">

                            <label for="valId">Branch Id</label>
                            <input id="valId" class="form-control" type="numer" ng-model="vm.validator.id">
                            <button class="btn btn-danger">Add Validator</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h3>Registration of an auditor</h3>
                        <form class="form-group">

                            <label for="audName">Name</label>
                            <input id="audName" class="form-control" type="text" ng-model="vm.auditor.name">

                            <label for="audId">Auditor Id</label>
                            <input id="audId" class="form-control" type="number" ng-model="vm.auditor.id">
                            <button class="btn btn-danger">Add Auditor</button>
                        </form>
                    </div>
                </div>
        </div>
     </div>
    </body>
</html>

