<!DOCTYPE html >

<html>
    <head>
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="bundle.js"> </script>
        <link rel="stylesheet"  href="node_modules/bootstrap/dist/css/bootstrap.min.css" >
        <link rel="stylesheet"  href="src/style.css" />
    </head>

    <body class="container" ng-app="app" ng-controller='appController as vm'  class="ng-cloak">
        <!--<script type='text/javascript' src='bundle.js' charset='utf-8'></script> -->
        <div classe="container-fluid">
            <div class="header">
                {{vm.title}}
            </div>
            <div class="container-fluid main-context">
                <div class="row">
                <div class="col-md-6">
                    <h2>Accounts</h2>
                    <dl class="dl-horizontal" ng-repeat="acc in vm.accounts">
                        <dt> Acc</dt>
                        <dd> {{acc}}</dd>
                        <button class="btn btn-primary" ng-click="vm.checkAddress(acc, $index)">Verify</button>
                        <button class="btn btn-warning" ng-click="vm.addAddress(acc)"> Add</button>
                        <div ng-if="$index == vm.activeIndex2">
                             <dl class="dl-horizontal">
                                 <dt> Response</dt>
                                 <dd> {{vm.contractData.check}} </dd>
                            </dl>
                        </div>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h2>Contract Interaction</h2>
                    <div class="card">
                        <div class="card-block">
                            <h2 class="card-title">Run Contract</h2>
                            <button class="btn btn-primary" ng-click='vm.mineContract()'>Deploy</button>
                        </div>
                    </div>                    
                    <div>
                        <dl class="dl-horizontal" ng-repeat="ctr in vm.contracts">
                            <dt>Contract mined</dt>
                            <dd>
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>{{ctr.address}} </p>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-warning" ng-click='vm.showContract(vm.abi, ctr.address, $index)'>show</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-default" ng-click="vm.closeContract()"> Close</button> 
                                    </div>
                                </div>
                            </dd>
                            <div class="card" style="color:black;" ng-if="$index == vm.activeIndex">
                                <div class="card-block">
                                    <p>Address of contract: {{vm.contract.address}} </p>
                                    <span>Transaction Hash: {{vm.contract.transactionHash}} </span>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
     </div>
    </body>
</html>

